@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Spartan:wght@700&display=swap');
* {
    font-family: 'Spartan', sans-serif;
}

button {
    transition: all .05s ease-in-out;
}

button:hover {
    transform: scale(1.03);
}

button:active {
    transform: scale(.9);
}

.theme-p {
    font-size: .65rem;
    letter-spacing: .15rem;
}

.numbers span {
    font-size: .6rem;
}

.calculator-screen {
    height: 12vh;
}







/* responsiveness */
@media screen and (width: 1440px) {
    .calculator-container {
        width: 30%;
    }

    .upper,
    .lower {
        column-gap: 1.2rem;
        row-gap: 1.5rem;
        padding-left: 1.45rem;
        padding-right: 1.45rem;
    }

    .upper button {
        padding-top: .7rem;
        padding-bottom: .7rem;

    }

    .lower button {
        padding-top: .9rem;
        padding-bottom: .9rem;

    }
}

@media screen and (min-width: 1600px) {
    
    .calculator-screen {
        height: 15vh;

    }
}

/* @media screen and (max-width: 760px){
    .calculator-container{
       padding-top: 20vh;
    }
} */